<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qakj.crm.mapper.CheckCenterMapper" >
	<resultMap id="BaseResultMap2" type="com.qakj.crm.pojo.CheckCenter" >
	    <result column="supplierName" property="suppliername" jdbcType="VARCHAR" />
	    <result column="commodityName" property="commodityname" jdbcType="VARCHAR" />
	    <result column="manufactureDate" property="manufacturedate" jdbcType="DATE" />
	    <result column="expire" property="expire" jdbcType="DATE" />
		<association property="supplierInfo" javaType="com.qakj.crm.pojo.SupplierInfo">
			<id column="id" property="id" jdbcType="INTEGER" />
		    <result column="supplierName" property="suppliername" jdbcType="VARCHAR" />
		    <result column="supplierAddress" property="supplieraddress" jdbcType="VARCHAR" />
		    <result column="supplierPhone" property="supplierphone" jdbcType="VARCHAR" />
		    <result column="commodityName" property="commodityname" jdbcType="VARCHAR" />
		</association>
	</resultMap>

	<select id="getCheckCenterAndSupplierInfo" resultMap="BaseResultMap2">
		select 
		supplierinfo.supplierName,
		supplierinfo.supplierAddress,
		supplierinfo.supplierPhone,
		supplierinfo.commodityName,
		checkcenter.manufactureDate,
		checkcenter.expire
		from 
		supplierinfo,checkcenter
		WHERE 
		supplierinfo.supplierName=checkcenter.supplierName
	</select>

  <resultMap id="BaseResultMap" type="com.qakj.crm.pojo.CheckCenter" >
    <result column="supplierName" property="suppliername" jdbcType="VARCHAR" />
    <result column="commodityName" property="commodityname" jdbcType="VARCHAR" />
    <result column="manufactureDate" property="manufacturedate" jdbcType="DATE" />
    <result column="expire" property="expire" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    supplierName, commodityName, manufactureDate, expire
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qakj.crm.pojo.CheckCenterExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from checkcenter
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.qakj.crm.pojo.CheckCenterExample" >
    delete from checkcenter
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qakj.crm.pojo.CheckCenter" >
    insert into checkcenter (supplierName, commodityName, manufactureDate, 
      expire)
    values (#{suppliername,jdbcType=VARCHAR}, #{commodityname,jdbcType=VARCHAR}, #{manufacturedate,jdbcType=DATE}, 
      #{expire,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.qakj.crm.pojo.CheckCenter" >
    insert into checkcenter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="suppliername != null" >
        supplierName,
      </if>
      <if test="commodityname != null" >
        commodityName,
      </if>
      <if test="manufacturedate != null" >
        manufactureDate,
      </if>
      <if test="expire != null" >
        expire,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="suppliername != null" >
        #{suppliername,jdbcType=VARCHAR},
      </if>
      <if test="commodityname != null" >
        #{commodityname,jdbcType=VARCHAR},
      </if>
      <if test="manufacturedate != null" >
        #{manufacturedate,jdbcType=DATE},
      </if>
      <if test="expire != null" >
        #{expire,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qakj.crm.pojo.CheckCenterExample" resultType="java.lang.Integer" >
    select count(*) from checkcenter
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update checkcenter
    <set >
      <if test="record.suppliername != null" >
        supplierName = #{record.suppliername,jdbcType=VARCHAR},
      </if>
      <if test="record.commodityname != null" >
        commodityName = #{record.commodityname,jdbcType=VARCHAR},
      </if>
      <if test="record.manufacturedate != null" >
        manufactureDate = #{record.manufacturedate,jdbcType=DATE},
      </if>
      <if test="record.expire != null" >
        expire = #{record.expire,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update checkcenter
    set supplierName = #{record.suppliername,jdbcType=VARCHAR},
      commodityName = #{record.commodityname,jdbcType=VARCHAR},
      manufactureDate = #{record.manufacturedate,jdbcType=DATE},
      expire = #{record.expire,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>